<%= form_for @users do |f| %>
    <div> 
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div> 
        <%= f.label :surname %>
        <%= f.text_field :surname %>
    </div>
    <div> 
        <%= f.label :document %>
        <%= f.text_field :document %>
    </div>
    <div> 
        <%= f.label :telefono %>
        <%= f.number_field :telefono %>
    </div>
    <div> 
        <%= f.submit %>
    </div>
<%end%>
<h1>hi</h1>